#logo {
    max-height: 40px; /* регулюємо висоту логотипу */
    margin-right: 10px; /* додамо відступ між логотипом і текстом */
    border-radius: 25% 10%;
}

#map {
    height: 500px; /* Встановлюємо висоту карти */
    width: 100%; /* Займаємо всю доступну ширину */
    border-radius: 10px; /* Округлі кути */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь */
}


