#logo {
    max-height: 40px; /* регулюємо висоту логотипу */
    margin-right: 10px; /* додамо відступ між логотипом і текстом */
    border-radius: 25% 10%;
}

body {
    background-color: #F0ECE4; /* Світло-бежевий колір */
}

.custom-navbar {
    background-color: #05DA9D !important;

}

/* Застосовуємо кастомні стилі до навігаційного меню */
.navbar-light.bg-light.custom-navbar {
    background-color: blue;
    border-color: blue;
}


/* Застосовуємо кастомні кольори тексту при наведенні */
.navbar-light.bg-light.custom-navbar .navbar-nav .nav-link:hover {
    color: black;

}

#map {
    height: 500px; /* Встановлюємо висоту карти */
    width: 100%; /* Займаємо всю доступну ширину */
    border-radius: 10px; /* Округлі кути */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь */
}

/* Стилізація слайдера ціни */
#price-slider {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
}

/* Стилізація позначки на слайдері */
#price-values {
    margin-top: 1px;

}

/* Стилізація бару слайдера */

/* Стилізація слайдера ціни */
#price-slider {
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
}
#price-slider .bar {
    height: 100%;
    background-color: #05DA9D; /* Зелений колір */
    border-radius: 10px;
}

/* Стилізація позначок крайових значень */
#price-slider .bar .tooltip-inner {
    background-color: #05DA9D; /* Зелений колір */
    color: #fff;
    border-radius: 5px;
}

/* Стилізація рухомого ползунка */
#price-slider .slider {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #05DA9D; /* Зелений колір */
    border-radius: 50%;
}


/* Стилізація вибору дати */
input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стилізація підказки */
input[type="date"]::placeholder {
    color: #aaa;
}

/* Стилізація випадаючого списку */
select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стилізація текстового поля */
input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стилізація кнопки пошуку */
.search-button {
    padding: 5px 10px;
    background-color: #05DA9D; /* Зелений колір */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}











.photo-background-Elego img {
    border-radius: 10px;
    background-color: #05DA9D; /* Кольор тла */

}

.team-member {
    position: relative;
    overflow: hidden;
}

.team-member img {
    width: 100%;
    transition: transform 0.3s ease;
}

.member-info {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    transition: transform 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
}

.team-member:hover img {
    transform: translateY(-20%);
}

.team-member:hover .member-info {
    transform: translateY(0);
}

#footer {
    background-color: black !important;
}




