#map {
    height: 400px;
    width: 100%;
}
#logo {
    max-height: 40px; /* регулюємо висоту логотипу */
    margin-right: 10px; /* додамо відступ між логотипом і текстом */
    border-radius: 25% 10%;

}